---
title: Portfolio
order: 1
---

<section>
  <aside>
    <h2><%= permalink_for "MOSAIK" %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    Modular Optimization to Service-oriented Architecture Identification Kit (MOSAIK) is a toolkit for software architects and developers to convert monolithic applications into service-oriented architectures.
    It analyzes, extracts information, identifies suitable service candidates in monolith codebases using advanced technologies and machine learning.
  </p>

  <p>
    MOSAIK was developed while writing my <a href="https://github.com/floriandejonckheere/utu-thesis" target="_blank">Master's Thesis in Software Engineering</a> at the <a href="https://www.utu.fi" target="_blank">University of Turku</a>, Finland.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/mosaik" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Zapp" %></h2>
    <em>TypeScript, React, Tailwind</em>
  </aside>

  <p>
    Smart Energy Assistant: web application that implements our algorithm to curtail energy generated based on weather and energy production forecast, and user-defined rules, allowing homeowners to manage their energy infrastructure in an efficient way.
  </p>

  <p>
    The application was developed for the Energy Solutions for People - RESPONSE2020 3rd Technical Hackathon funded by the European Union's Horizon 2020 project in Turku, Finland.
    The submission won second prize and the team was awarded €2000 prize money.
  </p>

  <p class="links">
    <a href="https://zapp.dejonckhee.re" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/zapp" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Wattson" %></h2>
    <em>TypeScript, React, Tailwind</em>
  </aside>

  <p>
    Smart Energy Assistant: dynamic web application that allows you to monitor your energy consumption in real-time, and provides you with actionable insights to reduce your energy bill.
  </p>

  <p>
    The application was developed for the Energy Solutions for People - RESPONSE2020 2nd Technical Hackathon funded by the European Union's Horizon 2020 project in Turku, Finland.
    The submission won second prize and the team was awarded €5000 prize money.
  </p>

  <p class="links">
    <a href="https://wattson.dejonckhee.re" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/wattson" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "ecoF&ouml;li" %></h2>
    <em>Concept</em>
  </aside>

  <p>
    Concept for creating awareness on daily energy consumption by leveraging the local public transportation application <a href="https://www.foli.fi/" target="_blank">F&ouml;li</a> in Turku (Finland) and enhancing it with energy consumption usage and applying gamification principles, allowing citizens to make smarter and more ecological choices.
  </p>

  <p>
    The concept was developed for the Energy Solutions for People - RESPONSE2020 1st Hackathon funded by the European Union's Horizon 2020 project in Turku, Finland.
    The submission won second prize and the team was awarded €2000 prize money.
  </p>

  <p class="links">
    <a href="https://kerrokantasi.turku.fi/energiahackathon/ps0Wt1btJ8rJfNe5PWPVTzCMJZV2zXru?lang=en" target="_blank">Submission</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Health Level Eight" %></h2>
    <em>React, NEAR Blockchain</em>
  </aside>

  <p>
    Zero-Trust Health System coupled with blockchain-powered smart contracts. Finalist entry for the <a href="https://www.nokia.com/about-us/newsroom/events-calendar/nokia-student-network-hackathon/" target="_blank">2022 Nokia Student Hackathon</a>.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/hl8" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "rediss" %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    Redis server and client implementation in plain Ruby.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/redis-rb" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "parking" %></h2>
    <em>Ruby, OpenGL</em>
  </aside>

  <p>
    3D simulation of a self-parking car algorithm. The car uses a <a href="https://en.wikipedia.org/wiki/Genetic_algorithm" target="_blank">genetic algorithm</a> to determine how to park most efficiently, considering the ideal parking spot and the car surrounding it.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/parking" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "kozo" %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    <code>K&omacr;z&omacr;</code> (構造) is an open-source tool to manage your cloud resources based on the <a href="https://en.wikipedia.org/wiki/Infrastructure_as_code" target="_blank">infrastructure as code</a> principle.
    It leverages the power and flexibility of Ruby to allow you to declare your infrastructure in your favourite language.
  </p>

  <p class="links">
    <a href="https://floriandejonckheere.github.io/kozo/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/kozo" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "hcloud" %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    Unofficial Ruby bindings for the <a href="https://docs.hetzner.cloud/" target="_blank">Hetzner Cloud API</a>, allowing developers to interact with the API in a modern, object-oriented fashion.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/hcloud" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "code red" %></h2>
    <em>Ruby on Rails, Hotwire, TailwindCSS</em>
  </aside>

  <p>
    Code Red is a tiny task project management app that leverages graphs to visualize the dependencies between tasks and resources.
    It was my submission for the <a href="https://hackathons.redislabs.com/hackathons/build-on-redis-hackathon" target="_blank">Build on Redis hackathon</a>, where I <a href="https://redislabs.com/blog/build-on-redis-hackathon-winners/" target="_blank">won first prize</a> and was awarded $10,000 prize money.
  </p>

  <p class="links">
    <a href="https://codered.dejonckhee.re/" target="_blank">Demo</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/code-red" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "sypher" %></h2>
    <em>Ruby on Rails, GraphQL, Vue.js</em>
  </aside>

  <p>
    End-to-end encrypted instant messaging application, written as a <a href="https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive" target="_blank">Progressive Web Application</a>. Modeled closely on existing solutions such as WhatsApp and Telegram.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/sypher" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Open Webslides" %></h2>
    <em>Ruby on Rails, React, Redux</em>
  </aside>
  <p>
    What if course material could&hellip;
    <ul>
      <li>be <em>co-created</em> by teachers, students and professionals?</li>
      <li>make full use of <em>interactive</em> web tools?</li>
      <li><em>transcend</em> courses and span multiple subjects?</li>
      <li>promote a <em>personal</em> learning approach?</li>
      <li>be <em>shared</em> with the educational community?</li>
    </ul>
  </p>

  <p>
    Open Webslides is a platform to create interactive course material that promotes co-creation with students and colleagues. It is built with modern web technologies and standards to promote an interactive and accessible learning environment.
  </p>

  <p class="links">
    <a href="https://openwebslides.github.io/landing/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/OpenWebslides/" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Headbanger" %></h2>
    <em>Ruby on Rails, VueJS</em>
  </aside>

  <p>
    Heavy Metal music recommendation and discovery platform. It uses hybrid collaborative and content-based filtering to determine novel artist and album recommendations based on the user's previous ratings.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/headbanger" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Metal Archives" %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    Metal Archives Web Service Ruby API wrapper. Provides a Ruby API to the famous Metal Archives database.
  </p>

  <p class="links">
    <a href="https://floriandejonckheere.github.io/metal_archives/html/" target="_blank">Documentation</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/metal_archives" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Remind.re" %></h2>
    <em>JavaScript, React, Redux</em>
  </aside>

  <p>
    Simple set-and-forget reminder app.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/remind-re" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "portfolio" %></h2>
    <em>HTML, CSS</em>
  </aside>

  <p>
    Practical study in typography and minimalism, culminating in a simple yet elegant portfolio website.
  </p>

  <p class="links">
    <a href="https://florian.dejonckhee.re/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/portfolio" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "Telecom Cost Expert: WebGraph" %></h2>
    <em>jQuery, CytoscapeJS, JavaScript</em>
  </aside>

  <p>
    Development of an interactive web component: visualization of a directed acyclic graph containing financial information (closed source).
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "trivial" %></h2>
    <em>Ruby on Rails, PostgreSQL</em>
  </aside>

  <p>
    Web application enabling teacher-student engagement in an educational gamification setting. Based on the <em>Trivial Pursuit</em> board game.
  </p>

  <p class="links">
    <a href="https://trivial.dejonckhee.re/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/trivial" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "thalariond" %></h2>
    <em>Ruby on Rails, Docker, LDAP</em>
  </aside>

  <p>
    Custom-built user management system for centralizing email and other services, written in pure Ruby and Ruby on Rails.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/thalariond" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for "PoweraMPD" %></h2>
    <em>Java, Android</em>
  </aside>

  <p>
    Music Player Daemon (MPD) Protocol-compatible interface layer to the popular Android media player <a href="https://powerampapp.com/" target="_blank">Poweramp</a>. It allows you to control and browse your Android phone's media library from your computer, or even another phone.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/powerampd" target="_blank">Source code</a>
  </p>
</section>
