---
title: Portfolio
order: 1
---

<section>
  <aside>
    <h2><%= permalink_for 'code red' %></h2>
    <em>Ruby on Rails, Hotwire, TailwindCSS</em>
  </aside>

  <p>
    Code Red is a tiny task project management app that leverages graphs to visualize the dependencies between tasks and resources.
    It was my submission for the <a href="https://hackathons.redislabs.com/hackathons/build-on-redis-hackathon" target="_blank">Build on Redis hackathon</a>, where I <a href="https://redislabs.com/blog/build-on-redis-hackathon-winners/" target="_blank">won first prize</a> and was awarded $10,000 prize money.
  </p>

  <p class="links">
    <a href="https://codered.pm/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/code-red" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'kozo' %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    <code>K&omacr;z&omacr;</code> (構造) is an open-source tool to manage your cloud resources based on the <a href="https://en.wikipedia.org/wiki/Infrastructure_as_code" target="_blank">infrastructure as code</a> principle.
    It leverages the power and flexibility of Ruby to allow you to declare your infrastructure in your favourite language.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/kozo" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'sypher' %></h2>
    <em>Ruby on Rails, GraphQL, Vue.js</em>
  </aside>

  <p>
    End-to-end encrypted instant messaging application, written as a <a href="https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive" target="_blank">Progressive Web Application</a>. Modeled closely on existing solutions such as WhatsApp and Telegram.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/sypher" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Open Webslides' %></h2>
    <em>Ruby on Rails, React, Redux</em>
  </aside>
  <p>
    What if course material could&hellip;
    <ul>
      <li>be <em>co-created</em> by teachers, students and professionals?</li>
      <li>make full use of <em>interactive</em> web tools?</li>
      <li><em>transcend</em> courses and span multiple subjects?</li>
      <li>promote a <em>personal</em> learning approach?</li>
      <li>be <em>shared</em> with the educational community?</li>
    </ul>
  </p>

  <p>
    Open Webslides is a platform to create interactive course material that promotes co-creation with students and colleagues. It is built with modern web technologies and standards to promote an interactive and accessible learning environment.
  </p>

  <p class="links">
    <a href="https://openwebslides.github.io/landing/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/OpenWebslides/" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Headbanger' %></h2>
    <em>Ruby on Rails, VueJS</em>
  </aside>

  <p>
    Heavy Metal music recommendation and discovery platform. It uses hybrid collaborative and content-based filtering to determine novel artist and album recommendations based on the user's previous ratings.
  </p>

  <p class="links">
    <a href="https://headbang.re" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/headbanger" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Metal Archives' %></h2>
    <em>Ruby</em>
  </aside>

  <p>
    Metal Archives Web Service Ruby API wrapper. Provides a Ruby API to the famous Metal Archives database.
  </p>

  <p class="links">
    <a href="https://floriandejonckheere.github.io/metal_archives/html/" target="_blank">Documentation</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/metal_archives" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Remind.re' %></h2>
    <em>JavaScript, React, Redux</em>
  </aside>

  <p>
    Simple set-and-forget reminder app.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/remind-re" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'portfolio' %></h2>
    <em>HTML, CSS</em>
  </aside>

  <p>
    Practical study in typography and minimalism, culminating in a simple yet elegant portfolio Website.
  </p>

  <p class="links">
    <a href="https://florian.dejonckhee.re/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/portfolio" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'Telecom Cost Expert: WebGraph' %></h2>
    <em>jQuery, CytoscapeJS, JavaScript</em>
  </aside>

  <p>
    Development of an interactive web component: visualization of a directed acyclic graph containing financial information (closed source).
  </p>

  <p class="links">
    <a href="http://www.telecomcostexpert.com/" target="_blank">Website</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'trivial' %></h2>
    <em>Ruby on Rails, PostgreSQL</em>
  </aside>

  <p>
    Web application enabling teacher-student engagement in an educational gamification setting. Based on the <em>Trivial Pursuit</em> board game.
  </p>

  <p class="links">
    <a href="https://trivial.dejonckhee.re/" target="_blank">Website</a>
    <span class="separator">/</span>
    <a href="https://github.com/floriandejonckheere/trivial" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'thalariond' %></h2>
    <em>Ruby on Rails, Docker, LDAP</em>
  </aside>

  <p>
    Custom-built user management system for centralizing email and other services, written in pure Ruby and Ruby on Rails.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/thalariond" target="_blank">Source code</a>
  </p>
</section>

<div class="section-divider"></div>

<section>
  <aside>
    <h2><%= permalink_for 'PoweraMPD' %></h2>
    <em>Java, Android</em>
  </aside>

  <p>
    Music Player Daemon (MPD) Protocol-compatible interface layer to the popular Android media player <a href="https://powerampapp.com/" target="_blank">Poweramp</a>. It allows you to control and browse your Android phone's media library from your computer, or even another phone.
  </p>

  <p class="links">
    <a href="https://github.com/floriandejonckheere/powerampd" target="_blank">Source code</a>
  </p>
</section>
